body {
    margin: 0;
    font-family: "YekanBakh";
}

a {
    text-decoration: none;
}

.css-vtpg4b-MuiToolbar-root {
    padding: 0 !important;
}

.swiper-button-prev {
    color: #2065BB !important;
}

.swiper-button-next {
    color: #2065BB !important;
}

.swiper-pagination-progressbar-fill {
    background-color: #2065BB !important;
}


@media screen and (min-width: 600px) {
    .BannerHeader {
      display: none;
    }
}